<a href="https://colab.research.google.com/github/kanakabs/ML-programs/blob/master/03_09_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python program to count the occurrences of each word in a given sentence.

In [2]:
def word_count(str):
    counts = dict()
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

print( word_count('first person rabbit point of view'))

{'first': 1, 'person': 1, 'rabbit': 1, 'point': 1, 'of': 1, 'view': 1}

Write a Python program to remove duplicates from a list

In [3]:
a = [10,30,30,20,10,10,60,40,80,50,40]
dup_items = set()
uniq_items = []
for x in a:
  if x not in dup_items:
	  uniq_items.append(x)
	  dup_items.add(x)
print(dup_items)
print(uniq_items)

{40, 10, 80, 50, 20, 60, 30}
[10, 30, 20, 60, 40, 80, 50]

Write a Python program to count the number of elements in a list within a specified range.

In [4]:
def count_range_in_list(li, min, max):
	ctr = 0
	for x in li:
		if min <= x <= max:
			ctr += 1
	return ctr

list1 = [10,20,30,40,50,40,70,80,99]
print(count_range_in_list(list1, 21, 100))

7

Write a Python script to merge two Python dictionaries

In [5]:
d1 = {'a': 100, 'b': 200}
d2 = {'c': 300, 'd': 400}
d = d1.copy()
d.update(d2)
print(d)

{'a': 100, 'b': 200, 'c': 300, 'd': 400}

Write a Python program to find the highest 3 values in a dictionary

In [9]:
from heapq import nlargest
my_dict = {'a':500, 'b':1000, 'c': 560,'d':400, 'e':2974, 'f': 3450}  
ThreeHighest = nlargest(3, my_dict, key=my_dict.get)
for val in ThreeHighest: 
    print(val, ":", my_dict.get(val))

f : 3450
e : 2974
b : 1000

Write a python program to convert the tuple into a string

In [10]:
def convertTuple(tup): 
    str =  ''.join(tup) 
    return str
 
tuple = ('a', 'l', 'v', 'a', 's') 
str = convertTuple(tuple) 
print(str)

alvas

write a python program to reverse a tuple

In [11]:
def Reverse(tuples): 
    new_tup = tuples[::-1] 
    return new_tup 
      
 
tuples = ('k','a','n','a','k','a','s') 
print(Reverse(tuples))

('s', 'a', 'k', 'a', 'n', 'a', 'k')

write a python program to remove existing indentation from all of the lines in a given text

In [12]:
import textwrap  
sample_text = ''' 
    Python is a widely used high-level, general-purpose, interpreted, 
    dynamic programming language. Its design philosophy emphasizes 
    code readability, and its syntax allows programmers to express 
    concepts in fewer lines of code than possible in languages such 
    as C++ or Java. 
    '''  
text_without_Indentation = textwrap.dedent(sample_text)  
print()  
print(text_without_Indentation )  
print()

Python is a widely used high-level, general-purpose, interpreted,
dynamic programming language. Its design philosophy emphasizes
code readability, and its syntax allows programmers to express
concepts in fewer lines of code than possible in languages such
as C++ or Java.